*{margin: 0;padding: 0}
body{background: #f3f5f7;font-size: 14px;}
ul{
list-style: none;
}
.banner-wrapper{
width: 520px;height: 280px;position:relative; margin:50px auto;border:3px solid #999;  overflow: hidden; 
}
.banner{
 position: absolute; width: 100%;left: -520px;
}
.banner img{
	display: block;
	margin-left:520px;
}

 .banner-wrapper .btn{position: absolute;top: 50%;width: 35px;height: 80px;margin-top: -40px;background: url(../images/btn.png) no-repeat;display: none;opacity: 0.6;}
 .banner-wrapper:hover .btn{display: block;}
 .banner-wrapper .btn:hover{opacity: 1;}
 .banner-wrapper .prev{left: 0;background-position: -73px 0; }
 .banner-wrapper .next{right: 0;background-position: 0 0;}
.banner-wrapper .btn{position: absolute;top: 50%;width: 35px;height: 70px;line-height: 60px;margin-top: -35px;text-align: center;background:#000;opacity: 0.6;font-size: 36px;color: #fff;display: none;cursor: pointer;}
.banner-wrapper:hover .btn{display: block;}
.banner-wrapper .btn:hover{opacity: 0.9;}
.banner-wrapper .prev{left: 0;border-radius: 0 32px 32px 0;}
.banner-wrapper .next{right: 0;border-radius: 32px 0 0 32px;}
.banner-wrapper .circle{position: absolute;bottom: 20px;left: 35%;background: hsla(0,0%,100%,0.4);padding: 5px;border-radius: 12px;}
.banner-wrapper .circle li{width: 15px;height:15px;background: #fff;float: left;border-radius: 50%;margin:0 4px;cursor: pointer;}
.banner-wrapper .circle li.active{background: orange;}